<table class="table table-bordered text-center mt-3 mb-3" style="background-color: #f8f9fa; border: 1px solid #dee2e6;">
   <thead class="thead-dark">
      <tr>
         <th class="h1 text text-danger" colspan="6">Toy Store ({{ total }})</th>
         <th>
            <a class="btn btn-success" href="/add">Add</a>
            <a class="btn btn-danger" href="/drop" onclick="return confirm('Are you sure to delete all toys ?');">Drop</a>
         </th>
      </tr>
      <tr>
         <th>Name</th>
         <th>Brand</th>
         <th>Quantity</th>
         <th>Price</th>
         <th>Picture</th>
         <th>Date</th>
         <th>Action</th>
      </tr>
   </thead>
   <tbody>
      {{#each toys }}
      <tr>
         <td>{{ name }}</td>
         <td>{{ brand }}</td>
         <td>{{ quantity }}</td>
         <td>${{ price }}</td>
         <td>
            <img class="zoom" src="{{ image }}" alt="{{ name }}" style="width: 100px; height: 100px;">
         </td>
         <td>{{ date }}</td>
         <td>
            <div class="btn-group" role="group">
               <a class="btn btn-warning" href="/edit/{{_id}}">Edit</a>
               <a class="btn btn-danger" href="/delete/{{_id}}" onclick="return confirm('Are you sure to delete this toy ?');">Delete</a>
            </div>
         </td>
      </tr>
      {{/each}}
   </tbody>
</table>
